<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form method="POST">
            <h2>Name : </h2> </Enter><input type="text" placeholder="ie:anil" name="name"/>
            <h2>Age : </h2><input type="number" placeholder="ie:23." name="age"/>
            <h2>Gender : </h2> <p>Male : </p><input type="radio" name="gender" value="gender"/>
            <p> Female : </p><input type="radio" name="gender" value="gender"/><br/>
            <button type="submit" >submit</button>
        </form>
    </body>
</html>